{% extends 'base.html' %}

{% block script %}
<script type="text/javascript" charset="utf-8">

  $(document).ready(function () {

    var variavel_js = "{{ url_socket }}";
    var socket = io.connect(variavel_js);

    socket.on("transport_config_new_line", function (msg) {
      console.log(msg)
      $('#lines_transport_config').append(msg.message);
    });

    socket.on("transport_config_all", function (msg) {
      console.log(msg)
      $('#lines_header').remove()
      $('#lines_transport_config').append(msg.message);
    });

    socket.on("return_add", function (msg) {
      console.log(msg)
      if (msg.status) {
        alert("Item Adicionado!")
      }
      else {
        alert("Item não adicionado, ja esta na lista!")
      }
    });

    var table = $('#zero_config')[0];
    $(table).delegate('.tr_clone_add', 'click', function () {
      var thisRow = $(this).closest("tr")[0];
      var internal_id = thisRow.getElementsByTagName("td")[0].innerHTML
      var external_id = thisRow.getElementsByTagName("td")[4].innerHTML
      console.log(internal_id)
      console.log(external_id)
      socket.emit('event_add_config', { internal_id: internal_id, external_id: external_id, service: "vlan" });
    });

    var table = $('#table-header')[0];
    $(table).delegate('.tr_clone_remove', 'click', function () {
      var thisRow = $(this).closest("tr")[0];
      var external_id = thisRow.getElementsByTagName("td")[1].innerHTML
      var internal_id = thisRow.getElementsByTagName("td")[2].innerHTML
      var id = thisRow.getElementsByTagName("td")[3].innerHTML
      console.log({ internal_id: internal_id, external_id: external_id, id: id })
      socket.emit('event_remove_config', { internal_id: internal_id, external_id: external_id, id: id });
    });
  });
</script>
{% endblock %}

{% set id = id %}
{% set username = username %}
{% set configs = configs %}

{% block content %}
<div class="page-wrapper">
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Users List</h5>
            <div class="table-responsive">
              <table
                id="zero_config"
                class="table table-striped table-bordered"
              >
                <thead>
                  <tr>
                <th scope="col" hidden>id</th>
                <th scope="col" hidden>External_id</th>
                <th scope="col">name</th>
                <th scope="col">description</th>
                <th scope="col">role</th>
                <th scope="col">limit_session</th>
                <th scope="col">Salvar</th>
              </tr>
            </thead>
            <tbody id="table_pool">
              {% for user in users %}
              <tr id="tr_connections" class="tr_connections">
                <td hidden>{{ user['id'] }}</td>
                <td hidden>{{ user['external_id'] }}</td>
                <td>{{ user['name'] }}</td>
                <td>{{ user['description'] }}</td>
                <td>{{ user['role'] }}</td>
                <td>{{ user['limit_session'] }}</td>
                <td><button type="submit" data-toggle="tooltip" name="add" value="add" class="tr_clone_add"
                    data-placement="top" title="Adicionar"><i class="mdi mdi-close"></i></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename = '/dist/js/script.js')}}" url="{{ url_socket }}"></script>
{% endblock %}
